# coding: utf-8
#전체 설치 명령어
#pip install -r requirements.txt

requests~=2.31.0
pip~=22.3.1
wheel~=0.38.4
Pillow~=10.0.1
setuptools~=65.5.1
tqdm~=4.66.1
PyAutoGUI~=0.9.54
python-dotenv~=1.0.0
playwright~=1.38.0

